@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Demo uygulamama Hoşgeldiniz Logine tıklayarak kullanıcı adı: admin Parola: admin ile giriş yapabilirsiniz</p>
    <p>Dilerseniz kendi kullanıcızını addUser sekmesinden ekleyebilirsiniz</p>
    <p>Giriş yaptığınızda kendi quizinizi yaratabilir var olan quizleri çözebilirsiniz</p>
    <p>En son result sekmesinden sonucunuzu görebilirsiniz</p>
</div>
