@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Demo uygulamama Hoşgeldiniz Giriş tuşuna tıklayarak [Kullanıcı adı]: admin, [Parola]: admin ile giriş yapabilirsiniz</p>
    <p>Dilerseniz kendi kullanıcızını kayıt sekmesinden ekleyebilirsiniz</p>
    <p>Giriş yaptığınızda kendi quizinizi yaratabilir var olan quizleri çözebilirsiniz</p>
    <p>En son sonuçlar sekmesinden sonucunuzu görebilirsiniz</p>
</div>
