@model WebDemo.Models.QuizModel
@{
    ViewData["Title"] = "QuizList";
}

<h1>QuizList</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="container" >
    <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="job-content">
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                    <li class="mr-md-4">
                        <h1>Başlık</h1>
                    </li>
                    <li class="mr-md-4">
                        <h1>------</h1>
                    </li>
                    <li class="mr-md-4">
                        <h1>Tarih</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <div class="filter-result">
                    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/quizlist" method="post">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                                    <li class="mr-md-4">
                                        <h5>Quiz 1</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>----------------</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>Tarih</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>

                    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/quizlist" method="post">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                                    <li class="mr-md-4">
                                        <h5>Quiz 2</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>----------------</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>Tarih</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>

                    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/quizlist" method="post">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                                    <li class="mr-md-4">
                                        <h5>Quiz 3</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>----------------</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>Tarih</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>

                    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/quizlist" method="post">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                                    <li class="mr-md-4">
                                        <h5>Quiz 4</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>----------------</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>Tarih</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>

                    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/quizlist" method="post">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="list-style: none;">
                                    <li class="mr-md-4">
                                        <h5>Quiz 5</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>----------------</h5>
                                    </li>
                                    <li class="mr-md-4">
                                        <h5>Tarih</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>